<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dblasko.productivhead">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dblasko.productivhead.Home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dblasko.productivhead.Habits.HabitDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dblasko.productivhead.Habits.HabitListActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.dblasko.productivhead.Notifications.ConfigActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Notifications.RappelsActivity" />
        </activity>
        <activity
            android:name="com.dblasko.productivhead.Notifications.RappelsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Notifications.NotificationActivity" />
        </activity>
        <activity
            android:name="com.dblasko.productivhead.Notifications.NotificationActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.dblasko.productivhead.Timer.StatisticsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Timer.TimerActivity" />
        </activity>
        <activity
            android:name="com.dblasko.productivhead.Timer.TimerActivity"
            android:icon="@drawable/icon"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>


        <activity android:name="com.dblasko.productivhead.Todolist.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.dblasko.productivhead.Todolist.liste_taches"
            android:label="Liste"
            android:parentActivityName="com.dblasko.productivhead.Todolist.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Todolist.MainActivity"/>
        </activity>


        <activity  android:name="com.dblasko.productivhead.Todolist.acceuil_todolist"
            android:label="Accueil"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:parentActivityName="com.dblasko.productivhead.Todolist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Todolist.MainActivity"/>
        </activity>

        <activity  android:name="com.dblasko.productivhead.Todolist.affichage_tache"
            android:label="Affichage"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:parentActivityName="com.dblasko.productivhead.Todolist.liste_taches">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dblasko.productivhead.Todolist.liste_taches"/>
        </activity>




        <receiver android:name="com.dblasko.productivhead.Notifications.NotificationReceiverActivity" />
        <receiver
            android:name="com.dblasko.productivhead.BootReceiverActivity"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Timer.TimerActionReceiver" />
        <service android:name=".Notifications.KillTimerNotificationService" />
    </application>

</manifest>